.app {
  display: flex;
  justify-content: center;
}
.app .container {
  width: 100%;
  font-family: "Lora";
  font-style: normal;
}
.app .container .link {
  text-decoration: none;
  color: inherit;
}
.app .container .link .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #474747;
}
.app .container .auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b9e7e7;
}
.app .container .auth h1 {
  font-size: 20px;
  color: teal;
  margin-bottom: 20px;
}
.app .container .auth form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 200px;
  gap: 20px;
}
.app .container .auth form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
.app .container .auth form button {
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
}
.app .container .auth form p {
  font-size: 12px;
  color: red;
  text-align: center;
}
.app .container .auth form span {
  font-size: 12px;
  text-align: center;
}
.app .container .navbar .container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .container .navbar .container .logo img {
  width: 120px;
  margin-left: 50px;
}
.app .container .navbar .container .links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.app .container .navbar .container .links h6 {
  font-size: 16px;
  font-weight: 300;
}
.app .container .navbar .container .links .divNav {
  position: relative;
  left: 45px;
  height: 15px;
  border: 1px solid rgba(71, 71, 71, 0.2);
  box-sizing: content-box;
  border-radius: 5px;
  padding: 10px 20px;
}
.app .container .navbar .container .links span {
  cursor: pointer;
}
.app .container .navbar .container .links img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .navbar .container .links .write {
  background-color: #b9e7e7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 1px solid white;
}
.app .container .navbar .container .links .write:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
.app .container header {
  background-color: #637D7D;
  height: 450px;
  font-family: "Lora";
  font-style: normal;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.app .container header .headerleft h1 {
  position: absolute;
  top: 130px;
  left: 150px;
  font-weight: 700;
  font-size: 85px;
}
.app .container header .headerleft .border {
  position: absolute;
  width: 70px;
  height: 0px;
  left: 150px;
  top: 290px;
  border: 5px solid #FFFFFF;
  border-radius: 40px;
}
.app .container header .headerleft h4 {
  position: absolute;
  top: 320px;
  left: 150px;
  font-weight: 400;
  font-size: 24px;
}
.app .container header .headerleft .button {
  display: flex;
}
.app .container header .headerleft .button .startReading {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 150px;
  top: 420px;
  background: #1A2626;
  border-radius: 40px;
}
.app .container header .headerleft .button .startReading .buttontext1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-decoration: none;
}
.app .container header .headerleft .button .addNewBlog {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 400px;
  top: 420px;
  background: #F5F5F5;
  border-radius: 40px;
}
.app .container header .headerleft .button .addNewBlog .buttontext2 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #1A2626;
  text-decoration: none;
}
.app .container header .headerImg h3 {
  font-size: 22px;
}
.app .container header .headerImg img {
  width: 390px;
  height: 470px;
  position: absolute;
  top: 130px;
  right: 100px;
  position: 500px;
  padding: 10px 20px;
}
.app .container footer {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  height: 400px;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-family: "Lora";
  font-style: normal;
  letter-spacing: 0.04em;
}
.app .container footer .left img {
  height: 60px;
}
.app .container footer .left h1 {
  font-size: 64px;
  font-weight: 500;
  color: #1A2626;
}
.app .container footer .left h4 {
  font-size: 24px;
  font-weight: 500;
  color: #1A2626;
}
.app .container footer .left Button {
  font-weight: 700;
  width: 250px;
  height: 50px;
  font-size: 20px;
}
.app .container .home2 section .searchHeading {
  position: relative;
  left: 45px;
  top: 60px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #464646;
}
.app .container .home2 section .searchBar {
  position: relative;
  min-width: 100px;
  left: 45px;
  top: 100px;
  display: flex;
  min-width: 1094px;
}
.app .container .home2 section .searchBar input {
  border: 1px solid #637D7D;
  border-radius: 5px;
  height: 50px;
  width: 700px;
  padding: 2px 23px 2px 30px;
  outline: 0;
}
.app .container .home2 section .trendingBlogs {
  position: relative;
  left: 45px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #464646;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-color: #FFFFFF;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home .edu-card {
  border: 1px white;
  margin: 5px;
  width: 420px;
  height: 200px;
  min-width: 250px;
  font-family: "Lora";
  font-style: normal;
  color: #474747;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home .edu-card .leftNumber {
  color: #E8E8E8;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home .edu-card .leftNumber .number {
  font-size: 42px;
  top: 30px;
  left: 35px;
  position: absolute;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home .edu-card .leftNumber .borderNumber {
  position: absolute;
  width: 70px;
  height: 0px;
  left: 150px;
  top: 290px;
  border: 1px solid #E8E8E8;
  transform: rotate(90.84deg);
  border-radius: 40px;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home .edu-card .rightDetails {
  left: 90px;
  position: absolute;
  top: 50px;
}
.app .container .home2 section .trendingBlogs .card-wrapper-trending-home .edu-card .rightDetails .avatarName {
  position: relative;
  left: 50px;
  top: -30px;
  color: #7F7F7F;
}
.app .container .home2 section .card-wrapper-home {
  padding: 0 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-color: #FFFFFF;
}
.app .container .home2 section .card-wrapper-home .edu-card {
  border: 1px white;
  margin: 5px;
  width: 420px;
  height: 600px;
  min-width: 250px;
  font-family: "Lora";
  font-style: normal;
  color: #474747;
}
.app .container .home2 section .card-wrapper-home .edu-card img {
  border-radius: 20px;
}
.app .container .home2 section .card-wrapper-home .edu-card .ant-rate {
  font-size: 17px;
}
.app .container .home2 section hr {
  border: 1px solid #E8E8E8;
}
.app .container .home2 section .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .container .home2 section .pagination .paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.app .container .home2 section .pagination .paginationItem .paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app .container .home2 section .pagination .prev,
.app .container .home2 section .pagination .next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}
.app .container .home2 section .pagination .paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}
.app .container .home2 section .pagination .paginationItem.active .paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app .container .home2 section .pagination .prev.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.app .container .home2 section .pagination .next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.app .container .home2 hr {
  border: 1px solid #E8E8E8;
}
.app .container .single {
  display: flex;
  gap: 50px;
}
.app .container .single .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app .container .single .content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .single .content .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.app .container .single .content .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .single .content .user span {
  font-weight: bold;
}
.app .container .single .content .edit {
  display: flex;
  gap: 5px;
}
.app .container .single .content .edit img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.app .container .single .content h1 {
  font-size: 42px;
  color: #333;
}
.app .container .single .content p {
  text-align: justify;
  line-height: 30px;
}
.app .container .single .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.app .container .single .menu h1 {
  font-size: 20px;
  color: #555;
}
.app .container .single .menu .post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .container .single .menu .post img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app .container .single .menu .post h2 {
  color: #555;
}
.app .container .single .menu .post button {
  width: -moz-max-content;
  width: max-content;
  padding: 7.5px 15px;
  border: none;
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
.app .container .single .menu .post button:hover {
  border: 1px solid white;
  background-color: #b9e7e7;
  color: black;
}
.app .container .add {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.app .container .add .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .container .add .content input {
  padding: 10px;
  border: 1px solid lightgray;
}
.app .container .add .content .editorContainer {
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}
.app .container .add .content .editorContainer .editor {
  height: 100%;
  border: none;
}
.app .container .add .menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app .container .add .menu .item {
  border: 1px solid lightgray;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}
.app .container .add .menu .item h1 {
  font-size: 20px;
}
.app .container .add .menu .item .file {
  text-decoration: underline;
  cursor: pointer;
}
.app .container .add .menu .item .buttons {
  display: flex;
  justify-content: space-between;
}
.app .container .add .menu .item .buttons :first-child {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .add .menu .item .buttons :last-child {
  cursor: pointer;
  color: white;
  background-color: teal;
  border: 1px solid teal;
  padding: 3px 5px;
}
.app .container .add .menu .item .cat {
  display: flex;
  align-items: center;
  gap: 2px;
  color: teal;
}/*# sourceMappingURL=style.css.map */